<!doctype html>
<html lang="en">
<body>

<a href="/auth/login">Login using email & password</a><br>
<a href="/auth/discord">Login using Discord</a><br>
<a href="/auth/google">Login using Google</a><br>

</body>
</html>
